@import "./../../variables";

.AvatarCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 245px;
    height: 260px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    div {
        width: 136px;
        height: 172px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .Actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
}