@import "./../../../variables";

.Logout {
    background-color: $primary-color;
    border-radius: 1.875rem;
    height: 2.5rem;
    width: 12rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {        
        background-color: $dark-primary-color;
    }
}