@import "./../../variables";

.Container {
    background-color: #FFFFFF;
    width: 100%;
    max-height: 550px;
    padding: 16px;

    overflow-y: scroll;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
}