@import "./../../variables";

.Container {
    background-color: #FFFFFF;
    width: 100%;
    padding: 16px;

    overflow-y: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .AddButton {
        flex: 1 0 245px;
        min-height: 227px;

        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        border: 0rem;

        transition: transform .2s;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.025);
            background-color: $dark-accent-color;
        }
    }
    
    .ButtonContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .SaveButton {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: $accent-color;
            border-radius: 1.875rem;
            height: 2.5rem;
            width: 12rem;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 1.3rem;
            cursor: pointer;
            color: #ffffff;
            border: none;
        
            &:hover {        
                background-color: $dark-accent-color;
            }
        }
    }
}