@import "./../../variables";

.MainLayout {
    display: flex;
    flex: 1;

    main {
        background-color: $background-color;
        padding-inline: 4.125rem;
        padding-block: 2.75rem;
    }
}