@import "./../../variables";

.MainLayout {
    display: flex;
    flex: 1;

    main {
        max-height: calc(100vh - 5.25rem - 5.5rem);
        background-color: $background-color;
        padding-inline: 4.125rem;
        padding-block: 2.75rem;
    }

    @media only screen and (max-width: 768px) {
        main {
            max-height: unset;
            padding-inline: 0;
            padding-block: 0;
        }
    }
}