@import './../../../variables';

.Song {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.875rem;
    max-height: 100%;

    > .Header {
        background-color: $dark-primary-color;
        flex: 1;
        max-height: 5.25rem;
        border-radius: 0.5rem 0.5rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 2.5rem;
        color: #ffffff;

        > .Header-Title {
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;

            > svg {
                font-size: 1.5rem;
                
                transition: transform 250ms;
                &:hover {
                    transform: scale(1.125);
                    cursor: pointer;
                }
            }

            > span {
                font-size: 1.25rem;
                font-weight: 600;
                user-select: none;
            }
        }

        > .Header-Actions {
            span {
                font-size: 1.25rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

}