$primary-text-icons-color: #f9f8fe;
$secondary-text-color: #757575;
$background-color: #E6E6E6;

$divider-color: #BDBDBD;

$error-color: #F05E5D;

/* Accent Color */
$accent-75-color: #307582;
$accent-color: #49a8bc;
$dark-accent-color: #22535d;

/* Primary Color */
$light-primary-color: #cab4c9;
$primary-color: #745372;
$dark-primary-color: #5a3f57;
$dark-primary-75-color: #4b3549;