$primary-text-icons-color: #212121;
$secondary-text-color: #757575;
$background-color: #E6E6E6;

$divider-color: #BDBDBD;

$error-color: #F05E5D;

/* Accent Color */
$accent-75-color: #7C4DFF75;
$accent-color: #7C4DFF;
$dark-accent-color: #633ECC;

/* Primary Color */
$light-primary-color: #FFECB3;
$primary-color: #FFC107;
$dark-primary-color: #FFA000;
$dark-primary-75-color: #FFA00075;